.jd-footer {
  padding: 120px 0;
  background-color: #105DE0;
  text-align: center;

  h5 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }

  p {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    color: #fff;
  }
}